body{
    background-color: #bbbbbb;
    padding: 10px;
}
.container {
    border: 0.5px solid #C0C0C0;
    border-radius: 10px;
}

.header {
    border: none;	
}

.jumbotron{
    text-align: center;
	background-image: url('..//images/Zephyr.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    font-family: 'Merriweather', serif;
    -webkit-text-fill-color: black;
} 

.card-header {
    font-weight: bold;
    border-bottom: 1px solid #283148;
    background-color: #283148;
    color: azure;
}

.card-body {
    background-color: azure;
}

